<p><%= @resource.email %> 様</p>

<p>パスワードを再設定するためのリンク依頼がありました。次のリンクから設定できます。</p>

<p><%= link_to "パスワードを再設定する", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合は、このメールは破棄してください。</p>
<p>上のリンクにアクセスして新しいパスワードを登録するまで、パスワードは変更されません。</p>
